* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #e8e8e8;
}

input[type="text"],
input[type="password"],
input[type="email"],
button {
    outline: none;
}

::placeholder {
    color: gray;
}

.form {
    display: flex;
    flex-direction: column;
    border-radius: .7rem;
    padding: 2rem;
    background-color: darkgrey;
    box-shadow: 10px 15px 50px -10px rgb(47, 79, 79);
}

.form h1 {
    color: rgb(47, 79, 79);
    padding-bottom: 2rem;
}

.input-container {
    position: relative;
}

.input-container input {
    width: 100%;
    padding: .8rem 0;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1.5rem;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    letter-spacing: .14rem;
}

.input-container label {
    position: absolute;
    top: 0;
    left: 0;
    padding: .8rem 0;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
    top: -1.2rem;
    left: 0;
    color: rgb(47, 79, 79);
    font-size: .8rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-submit {
    padding: .5rem;
    border: none;
    cursor: pointer;
    border-radius: .2rem;
    margin-top: 1rem;
    transition: .2s;
    border: 1px solid #fff;
}

.btn-submit:hover {
    background-color: darkgrey;
    border: 1px solid #fff;
    color: #fff;

}